div data-controller="clipboard"
  input data-clipboard-target="source" type="text" value="Текст для копирования" readonly = true
  button data-action="clipboard#copy"
    = "Copy to Clipboard"
div data-controller="clipboard"
  input data-clipboard-target="source" type="text" value="Другой текст для копирования" readonly = true
  button data-action="clipboard#copy"
    = "Copy to Clipboard"

div data-controller="slideshow" data-slideshow-index-value="0"
  button data-action="slideshow#previous"
    = "←"
  button data-action="slideshow#next"
    ="→"
  div data-slideshow-target="slide" 🐵
  div data-slideshow-target="slide" 🙈
  div data-slideshow-target="slide" 🙉
  div data-slideshow-target="slide" 🙊
 